body{
    margin: 0;
    padding: 0;
    background-color: #000000 ;
}

.arreglo{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.arreglo h4{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #3498DB ;
    margin-bottom: 40px;
    padding: 13px 0;
}

input[type=submit] {
    width: 100%;
    background: none;
    border: 2.5px solid  #3498DB;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}